<div class="container">
    <h2 class="bg-light mt-3 py-1">TODOリスト</h2>
    <form method="POST" action="/tasks">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <div class="form-row">
            <div class="form-group col-sm-9">
                <input type="text" class="form-control" id="inputTitle" name="title" placeholder="タイトル">
            </div>
            <div class="form-group col-sm-3">
                <input type="submit" id="btnAdd" class="btn btn-primary mb-3" value="追加">
            </div>
        </div>
    </form>

    <div class="table-responsive">
        <table class="table table-hover table-sm" id="todoList">
            <thead>
                <tr>
                    <th>タスク内容</th>
                    <th>状態</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% @tasks.each do |task| %>
                    <tr>
                        <td><%= task.title %></td>
                        <td>
                            <form method="POST" action="/tasks/<%= task.id %>">
                                <input type="hidden" name="_method" value="PUT">
                                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                                <input type="submit" id="btnDel"  class="btn btn-default" value=<%= task.status %>>
                            </form>
                        </td>
                        <td>
                            <form method="POST" action="/tasks/<%= task.id %>">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                                <input type="submit" id="btnDel"  class="btn btn-default" value="×">
                            </form>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
