<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js', 'data-turbolinks-track': 'reload' %>

    <nav class="navbar navbar-dark bg-dark navbar-expand-sm">
      <a href="/" class="navbar-brand">買い物リスト</a>
    </nav>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
